//add multiline backgorund for inline elements;

.multiline-bg {
  color: $white;
  line-height: 1.2;

  &--primary-theme {
    background-color: $ebony-clay;
  }

  &--secondary-theme {
    background-color: $mountain-meadow;
  }
}

@supports (-webkit-box-decoration-break: clone) or (box-decoration-break: clone) {
  .multiline-bg {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    box-shadow: none;
    padding: 0 0.3em;
  }
}

.vert-lg-margin {
  margin-top: 8.5em;

  @include respond-below(m) {
    margin-top: 4em;
  }
}

.is-hidden-up {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
}

.is-hidden-down {
  opacity: 0;
  transform: translate3d(0, -50px, 0);
}

.is-visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.fade-in {
  transition: opacity 0.35s cubic-bezier(0.33, 0.66, 0.66, 1) 0.2s,
    transform 0.35s cubic-bezier(0.33, 0.66, 0.66, 1) 0.2s;
}

.hide-overflow {
  overflow: hidden;
}

.v-a-bottom {
  vertical-align: bottom;
}

.defs-only {
  position: absolute;
  display: block;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.overlay {
  position: absolute;
  background-color: $black-50-op;
  height: 100vh;
  width: 100%;
  z-index: 2;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hidden {
  overflow: hidden;
}

.none {
  display: none;
}

.center-vs-transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animationZoomIn {
  transform: scale(1);
  transition: transform 300ms ease-in 300ms;
}

.animationZoomOut {
  transform: scale(0);
  transition: transform 300ms ease-in 300ms;
}

.animationHide {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s ease-out 300ms, opacity 300ms ease-out;
}

.animationShow {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s ease-in 0s, opacity ease-in 300ms;
}

.animationFadeInUp {
  animation: fadeInUp 300ms ease-in;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
