.aside-info {  
  color: $ebony-clay;
  background-color: $mountain-meadow; 
  border-radius: 16px;

  &__item {
    margin-bottom: $space-lg;
    line-height: 1.5;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    margin-top: 0;
    font-family: 'segoe ui bold';
    font-size: $text-base-size;
    margin-bottom: $space-xs;
  }
}