.aside-info {  
  color: $ebony-clay;
  background-color: $mountain-meadow; 
  border-radius: 16px;

  &__item {
    margin-bottom: 2rem;
    line-height: 1.5;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    margin-top: 0;
    font-family: 'weblysleek bold', sans-serif;
    font-size: $text-base-size;
    margin-bottom: .5rem;
  }
}