.btn {
  border-radius: 20px;
  color: $white;
  border: 1px solid transparent;
  display: inline-block;
  font-size: $text-sm;
  font-family: raleway, sans-serif;
  height: 2.66em;
  line-height: 2.66em;
  text-align: center;
  text-decoration: none;
  transition: color 300ms ease-out, border 300ms;
  width: 8.93em;


  &--primary-theme {
    background-color: $carnation;
    &:hover {
      border: 1px solid $carnation;
      color: $carnation;
    } 
  }

  &--seconday-theme {
    background-color: $mountain-meadow;
  }

  &--lg {
    font-size: $text-md;
    margin-top: $space-md;
    padding: $space-xxs $space-md;
  }

  &--block {
    display: block;
  }

  &:hover {
    background-color: $white;
  }
}