.btn {
  border-radius: 20px;
  color: $white;
  border: 2px solid transparent;
  font-size: $text-sm;
  font-family: raleway, sans-serif;
  padding: .73em 2.2em;
  text-decoration: none;
  transition: color 300ms ease-out, border 300ms;

  &--primary-theme {
    background-color: $carnation;
    &:hover {
      border: 2px solid $carnation;
      color: $carnation;
    } 
  }

  &--seconday-theme {
    background-color: $mountain-meadow;
  }

  &--lg {
    font-size: $text-md;
    margin-top: $space-md;
    padding: $space-xxs $space-md;
  }

  &--block {
    display: block;
  }

  &:hover {
    background-color: $white;
  }
}