.btn {
  border-radius: 1.4285em;
  color: $white;
  border: 1px solid transparent;
  display: inline-block;
  font-size: $text-sm;
  line-height: 1;
  padding: 0.7em 2em;
  text-align: center;
  text-decoration: none;
  transition: color 150ms ease-out, background-color 150ms ease-out,
    border 150ms ease-out;

  &--primary-theme {
    background-color: $carnation;
    &:hover {
      border: 1px solid $carnation;
      color: $carnation;
    }
  }

  &--secondary-theme {
    background-color: $mountain-meadow;
    &:hover {
      border: 1px solid $mountain-meadow;
      color: $mountain-meadow;
    }
  }

  &:hover {
    background-color: $white;
  }
}
