.characteristic {
  display: flex;
  align-items: center;

  &__title {
    padding-right: $space-md;
    vertical-align: middle;
  }

  &__item {
    height: 30px;
    width: 30px;
    border-radius: 50%;

    &--cover-firebrick {
      background-color: $firebrick;
    }
  }

  svg+svg {
    margin-left: $space-xs;
  }

  &--top-offset {
    margin-top: $space-md;
  }
}