.close {
  background-color: transparent;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    height: 2.0625rem;
    width: 0.325rem;
    background-color: #333;
  }

  &--size-sm {
    &::before,
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: #333;
    }
  }

  &--theme-secondary {
    &::after,
    &::before {
      background-color: $mountain-meadow;
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
