.close {
  background-color: transparent;
  border: 0;
  width: 2.75rem;
  height: 2.75rem;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    content: '';
    height: 2.0625rem;
    width: 0.125rem;
    background-color: #333;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
