.contact {
  color: $ebony-clay;
  display: flex;
  font-size: $text-base-size;
  justify-content: center;
  width: 40%;

  &__paragraph {
    margin-top: 0;
    font-size: 1.1em;
    line-height: 1.5;
  }

  &__aside-info {
    align-self: flex-start;
    width: 35%;
    margin-left: 8%;
    padding: 2em 3em;
  }

  &__intro {
    line-height: 1.625%;
  }

  &__form {
    margin-top: 3.135em;
  }
}