.footer {
  background-color: $ebony-clay;
  color: $white;
  font-size: $text-base-size;
  padding: 5.125em 0;

  &__top {
    display: flex;
    padding-bottom: 3em;
  }

  &__bottom {
    border-top: 1px solid $white;
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
  }

  &__section {
    line-height: 1.625;
    width: 25%;

    & + & {
      margin-left: 3.25em;
    }
  }

  &__title {
    margin-top: 0;
    font-size: $text-md;
    margin-bottom: 1em;
  }
}
