.footer {
  background-color: $cup-code;
  padding: $space-lg 0;
  color: $white;

  &__top {
    display: flex;
    padding-bottom: $space-unit;
  }

  &__bottom {
    border-top: 1px solid $white;
    display: flex;
    justify-content: space-between;
    padding-top: $space-unit;
  }

  &__section {
    font-size: $text-sm;
    line-height: 20px;
    width: 25%;

    & + & {
      margin-left: $space-xl;
    }
  }

  &__title {
    margin-top: 0;
    font-size: $text-md;
    margin-bottom: $space-xs;
    //padding-bottom: $space-xxs;
    //border-bottom: 1px solid $puerto-rico;
  }
}
