.form {
  color: $ebony-clay;

  &__label {
    font-size: $text-base-size;
    display: block;
  }

  &__input {
    border: 2px solid $mountain-meadow;
    border-radius: 44px;
    display: block;
    height: 3.75em;
    padding-left: 1.5em;
    margin-top: .2em;
    margin-bottom: 2.25em;
    transition: border-color 150ms ease-in;
    width: 100%;

    &--textarea {
      resize: none;
    }
  
    &--error {
      border: 2px solid $carnation;
      margin-bottom: 0;
    }
  }

  &__btn {
    margin-top: 0;
  }

  &__error {
    color: $carnation;
    font-size: $text-xsm;
    margin: .2em 0 1.25em 2.25em;
  }
}