.form {

  &__label {
    font-size: $text-base-size;
    display: block;
  }

  &__input {
    border: 0;
    border-bottom: 1px solid $juniper;
    display: block;
    height: 50px;
    width: 75%;
    margin-bottom: $space-md;
  
    &--textarea {
      height: 150px;
    }

    &--error {
      box-shadow: 1px 1px 10px rgba(255,0,0,.5);
      border: 1px solid red;
    }
  }

  &__btn {
    margin-top: 0;
  }

  &__error {
    color: red;
  }
}