.form {
  color: $ebony-clay;
  font-size: $text-base-size;

  @include respond-below(m) {
    font-size: $text-sm;
  }

  @include respond-below(s) {
    font-size: $text-xsm;
  }

  @include respond-below(xs) {
    font-size: $text-xxsm;
  }

  &--order {
    margin: 3em;
  }
  
  &__title {
    display: block;
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
  }

  &__label {
    display: block;
    position: relative;

    &--select-wrapper {
      &::after {
        content: '';
        display: block;
        border-top: 9px solid #17b489;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        position: absolute;
        right: .8em;
        margin-top: -.1875em;
        top: 50%;
      }
    }

    div {
      display: flex;
    }
  }

  &__input {
    border: 2px solid $mountain-meadow;
    border-radius: 44px;
    display: block;
    height: 3.75em;
    padding-left: 1.5em;
    margin-top: .2em;
    margin-bottom: 2.25em;
    transition: border-color 150ms ease-in;
    width: 100%;

    &--select {
      -webkit-appearance: none;
      appearance: none;
      padding-right: 2em;
      position: relative;
    }

    &--quantity {
      width: 70%;
    }
    
    &--error {
      border: 2px solid $carnation;
      margin-bottom: 0;
    }
  }

  &__control {
    align-self: center;
    background-color: $mountain-meadow;
    border: 2px solid transparent;
    border-radius: 50%;
    color: $white;
    font-size: 1em;
    font-family: sans-serif;
    line-height: 1;
    height: 2.25em;
    margin-bottom: 2.25em;
    padding: 0;
    width: 2.25em;
    transition: color, background-color 150ms ease-in;
    margin-left: .5em;
     
    &:hover {
      color: $mountain-meadow;
      background-color: $white;
      border-color: $mountain-meadow; 
    }
  }

  &__btn {
    margin-top: 0;
  }

  &__error {
    color: $carnation;
    font-size: $text-xsm;
    margin: .2em 0 1.25em 2.25em;
  }

  &__success-message {
    color: $mountain-meadow;
    padding-top: 1em;
    opacity: 0;
    animation: fadeIn 200ms 200ms ease-in forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

 50%,100% {
    opacity: 1;
  }
}
