.headline {
  color: $ebony-clay;
  font-size: $text-xxl;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1.5em;

  @include respond-below(s) {
    font-size: $text-lg;
  }

  &--center {
    text-align: center;
  }
}
