.languages {
  color: $white;
  font-size: $text-xxxsm;
  line-height: 1;
  z-index: 2;

  &__item {
    background-color: transparent;
    border-radius: 50%;
    border: solid 2px $mountain-meadow;
    height: 3.63636em;
    padding: 0;
    margin-right: 1.1em;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 150ms ease-in;
    width: 3.63636em;
    
    &:last-child {
      margin-right: 0;
    }
    
    &:hover {
      background-color: $mountain-meadow;
    }

    &--active {
      background-color: $mountain-meadow;
    }
  }
}