.lang {
  font-size: $text-base-size;
  text-align: left;

  &__title {
    font-size: $text-md ;
    margin-bottom: .3em;
    padding-left: 1em;
    position: relative;
    
    &::before {
      content: '';
      display: inline-block;
      border-left: 8px solid #17b489;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      position: absolute;
      left: 0;
      margin-top: .2em;
      top: 50%;
    }
  }

  &__list {
    margin: 0;
    padding-left: 1.5625em;
  }

  &__item {
    list-style-type: none;
    display: inline-block;

  }
}