.logo {
  font-size: $text-base-size;
  display: block;
  width: 12.5em;
  height: 1.5625em;

  @include respond-below(l) {
    font-size: $text-sm;
  }

  @include respond-below(m) {
    font-size: $text-xxxsm;
  }

  @include respond-below(xs) {
    font-size: 8px;
  }

  &--small {
    width: 9.375em;
    height: 1.25em;
  }

  &:hover {
    cursor: pointer;
  }
}
