.main {
  padding-bottom: 10rem;
  padding-top: 10rem;
  flex-grow: 1;

  @include respond-below(l) {
    padding-bottom: 9rem;
    padding-top: 9rem;
  }

  @include respond-below(m) {
    padding-bottom: 7rem;
    padding-top: 7rem;
  }

  @include respond-below(s) {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  @include respond-below(xs) {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  &--sm {
    padding-top: 5rem;
    padding-bottom: 5rem;

    @include respond-below(s) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}
