.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  min-height: 300px;
  background-color: $iceberg;
  border-radius: 1em;
  z-index: 6;
  -webkit-font-smoothing: subpixel-antialiased;

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;

    &:focus {
      box-shadow: none;
    }
  }
}

.modal-open {
  outline: -webkit-focus-ring-color auto 5px;
  overflow: hidden;
}