.modal {
  font-size: $text-base-size;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 18.75em;
  min-height: 18.75em;
  background-color: $iceberg;
  border-radius: 1em;
  z-index: 6;
  -webkit-font-smoothing: subpixel-antialiased;

  &__close {
    position: absolute;
    right: .9375em;
    top: .9375em;

    &:focus {
      box-shadow: none;
    }
  }
}

.modal-open {
  outline: -webkit-focus-ring-color auto 5px;
  overflow: hidden;
}