.product {
  display: flex;
  
  &__view {
    width: 65%;
  }

  &__description {
    width: 35%;
    border-left: 1px solid $black;
    padding: 0 0 $space-md $space-md;
    text-align: center;
  }

  &__header {
    font-size: $text-lg;
    margin-top: 0;
    text-align: left;
  }

  &__overview {
    line-height: 1.4;
    margin: $space-md auto; 
    text-align: left;
  }

  &__price {
    display: block;
    font-size: $text-md;
    text-align: left;
    //padding: 0 0 $space-sm;
    //margin: 0 $space-lg $space-sm;
    //border-bottom: 1px solid $black;
  }
}