.product {
  display: flex;
  color: $ebony-clay;
  font-size: $text-base-size;

  @include respond-below(m) {
    flex-direction: column;
  }

  @include respond-below(l) {
    font-size: $text-sm;
  }

  &__view {
    width: 60%;
    padding-right: 3em;

    @include respond-below(m) {
      order: 1;
      width: 100%;
      padding-right: 0;
    }
  }

  &__swiper {
    height: 500px;

    @include respond-below(xs) {
      height: auto;
    }
  }

  &__description {
    width: 40%;
    border-left: 3px solid $bon-jour;
    padding: 0 0 3em 3em;

    @include respond-below(m) {
      width: 100%;
      padding: 0;
      border: 0;
      margin-bottom: 2em;
    }
  }

  &__title {
    margin-top: 0;
    text-align: left;
  }

  &__overview {
    line-height: 1.4;
    margin: 1.25em auto;
    text-align: left;
  }

  &__price {
    display: block;
    font-size: 1.5625em;
    text-align: left;
  }

  &__paragraph {
    margin-top: 4em;

    @include respond-below(m) {
      margin-top: 2em;
    }
  }

  .form__radio-list {
    margin-top: 2em;
  }

  .form__input--quantity {
    display: inline-block;
    margin-top: 2em;
    width: 25%;
  }
}
