.product {
  display: flex;
  color: $ebony-clay;
  font-size: $text-base-size;
  
  &__view {
    width: 60%;
    padding-right: 3em; 
  }

  &__description {
    width: 40%;
    border-left: 3px solid $bon-jour;
    padding: 0 0 3em 3em;
    text-align: center;
  }

  &__header {
    font-size: 2em;
    font-weight: normal;
    margin-top: 0;
    text-align: left;
  }

  &__overview {
    line-height: 1.4;
    margin: $space-md auto;
    text-align: left;
  }

  &__price {
    display: block;
    font-size: $text-lg;
    text-align: left;
    //padding: 0 0 $space-sm;
    //margin: 0 $space-lg $space-sm;
    //border-bottom: 1px solid $black;
  }
}