.sketchbook {
  background-color: $white;
  border: 1px solid $carnation;
  border-radius: 20px;
  color: $emperor;
  display: flex;
  flex-wrap: wrap;
  font-size: $text-base-size;
  justify-content: center;
  padding: 2.1825em;
  max-width: 18.75em;

  img {
    width: 14.375em;
    height: auto; 
  }

  //for fixing sketchbook__preview element drop-shadow cut in slider wrapper
  .swiper-container {
    margin: -$space-md;
  }

  .swiper-wrapper {
    padding-top: $space-md;
    padding-bottom: $space-md;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 3px;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet  {
    background-color: $clam-shell;
  }

  &--theme-fantasy {
    @include linear-gradient-add($fantasy);
  }
  
  &--theme-mercury {
    @include linear-gradient-add($mercury);
  }

  &--theme-link-water {
    @include linear-gradient-add($link-water);
  }
  
  &--theme-gray-nurse {
    @include linear-gradient-add( $gray-nurse);
  }

  &__preview {
    filter: drop-shadow(0 0 6px rgba(3, 51, 51, .5));
    height: auto;
    width: 200px;
  }

  &__title {
    color: $black;
    font-size: $text-base-size;
    margin-bottom: 0;
    margin-top: $space-md;
    padding: 0 1em;
    text-align: center;
  }

  &__subtitle {
    display: block;
  }

  &__price {
    color: $nobel;
    font-size: $text-sm;
  }

  &__bottom-wrapper {
    align-self: flex-end;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 100%;
  }
}