.sketchbook {
  align-items: center;
  background-color: $white;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $space-md;
  width: 250px;

  &--theme-janna {

    @include linear-gradient-add(#f4e4d7, 56%);
  }

  &--theme-scorpion {

    @include linear-gradient-add(#5e5e5e);
  }
  
  &--theme-sushi {

    @include linear-gradient-add(#969A30);
  }

  &--theme-hotpink {

    @include linear-gradient-add(#ff589f);
  }
  
  &--theme-bitterlemon {

    @include linear-gradient-add(#e6e60c, 56%);
  }

  &--theme-illusion {

    @include linear-gradient-add(#c86586);
  }

  &--theme-bostonblue {

    @include linear-gradient-add(#337bbe);
  }

  &--theme-cherub {

    @include linear-gradient-add(#fadceb, 56%);
  }

  &--theme-palecanary {

    @include linear-gradient-add(#fffe9f, 59%);
  }

  &--theme-orangepeel {

    @include linear-gradient-add(#ffa101);
  }

  &--theme-perano {

    @include linear-gradient-add(#b7c5f1);
  }

  &--theme-bananamania {

    @include linear-gradient-add(#fce5c0);
  }

  &--theme-gold {

    @include linear-gradient-add(#ffd600);
  }

  &--theme-shalimar {

    @include linear-gradient-add(#ffd600, 59%);
  }

  &--theme-parisdaisy {

    @include linear-gradient-add(#f9ff75, 59%);
  }

  &--theme-visvis {

    @include linear-gradient-add(#ffee9e, 59%);
  }

  &--theme-serenade {

    @include linear-gradient-add(#fff4e6,56%);
  }

  &--theme-lima {

    @include linear-gradient-add(#86ce1c);
  }

  &--theme-lavenderpink {

    @include linear-gradient-add(#fca5c5);
  }

  &--theme-spray {

    @include linear-gradient-add(#6aeeee);
  }

  &--theme-perwinklegray {

    @include linear-gradient-add(#adc6e1);
  }

  &--theme-yellow {

    @include linear-gradient-add(#ffff00);
  }

  &--theme-hawaiiantan {

    @include linear-gradient-add(#9e5a18);
  }
  
  &__preview {
    filter: drop-shadow(0 0 6px rgba(3, 51, 51, .5));
    height: auto;
    width: 200px;
  }

  &__title {
    color: $black;
    font-size: $text-base-size;
    margin-bottom: 0;
    margin-top: $space-xs;
    text-align: center;
  }

  &__subtitle {
    color: #bfbfbf;
    display: block;
    font-size: $text-xs;
    margin-bottom: $space-xxxs;
    text-transform: none;
  }

  &__bottom-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: $space-sm;
    width: 100%;
  }
}