.wht-sketch {
  color: $white;
  background-color: $mountain-meadow;
  border-radius: 20px;
  position: relative;
  height: 100%;
  left: 2.4em;
  padding: 2.4em;
  width: 35%;
  z-index: 1;

  &__header {
    font-size: $text-xxl;
    margin-bottom: $space-unit;
    margin-top: 0;
  }

  &__list {
    margin-bottom: 0;
    padding-left: 0;
  }

  &__item {
    list-style: none;
  }

  &__item + &__item {
    margin-top: $space-unit;
  }
}