// colors values
$black: #000;
$white: #fff;
$carnation: #f75252;
$mountain-meadow: #17b489;
$emperor: #535353;
$nobel: #b6acac;
$fantasy: #faecec;
$mercury: #e9e9e9;
$link-water: #eaf0f8;
$gray-nurse: #e8eee9;
$ebony-clay: #232c3e;

//colors values with opacity
$black-50-op: rgba($black, .5);

//list of colors
// $letters-color: $green-haze, $red-orange, $studio, $puerto-rico, $green-pea, $saddle, $blaze-orange, $honey-flower, $juniper;


