// colors values
$green-haze: #01963c;
$red-orange: #fe4239;
$studio: #773cbc;
$puerto-rico: #49c3b1;
$green-pea: #144733;
$saddle: #513628;
$blaze-orange: #ff6b00;
$honey-flower: #622066;
$juniper: #739491;
$white-ice: #d4f8f4;
$cup-code: #3e4243;
$cocoa-brown: #120d0e;
$black: #000;
$white: #fff;
$denim: #1967eb;
$gallery: #ededed;
$firebrick: #af0248;
//colors values with opacity
$black-50-op: rgba($black, .5);
$juniper-80-op: rgba($juniper, .8);

//list of colors
$letters-color: $green-haze, $red-orange, $studio, $puerto-rico, $green-pea, $saddle, $blaze-orange, $honey-flower, $juniper;


