@include font-face(raleway, '../fonts/raleway-regular');
@include font-face('raleway thin', '../fonts/raleway-thin');

// base font values
$text-base-size: 16px;
$text-scale-ratio: 1.2;
$line-height-default: 1.15;

// font sizes
$font-size-xxsm: 11px;
$text-xsm: 13px;
$text-sm: 15px;
$text-md: 20px;
$text-lg: 25px;
$text-xl: 1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio;
$text-xxl: 1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio;
$text-xxxl: 1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio;
