// default spaces
$space-unit: 1em;
$space-xxxs: .25 * $space-unit;
$space-xxs: .375 * $space-unit;
$space-xs: .5 * $space-unit;
$space-sm: .75 * $space-unit;
$space-md: 1.25 * $space-unit;
$space-lg: 2 * $space-unit;
$space-xl: 3.25 * $space-unit;
$space-xxl: 5.25 * $space-unit;
$space-xxxl: 8.5 * $space-unit;
